@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 15.5px;
}

/* **********NAV BAR********* */

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: #444;
  text-decoration: none;
}

ul {
  list-style: none;
}

li{
    font-weight: 700;
    color: #000;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0.2rem;
}

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar ul {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 1rem;
}

.navbar a:hover {
  color: #555;
}

/* **********Content********* */

.content{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0.2rem;
}

.header{
    width: 900px;
    margin: 50px auto;
    background: rgba(204, 204, 204, 0.6);
    border-radius: 10px;
    padding: 10px;
}

.title{
    margin: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 1.8em;
}

.text{
    text-align: center;
    font-weight:500;
    font-size: 1.2em;
}

.img__lab{
    width: 648px;
    height: 364px;
    margin: 10px auto;
    padding: 10px;
}

.caption{
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
    padding: 10px;
}